table
{
   width: 100%;
   border-collapse: collapse;
}
th , td
{
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd ;

}
th
{
    background-color:#f4f4f4 ;
}
.required
{
    color: red;
}
.UpperCase
{
    text-transform: uppercase;
}

input:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

input:invalid {
    border: 2px solid red;
}

input:optional {
    background-color: #f0f0f0;
}

input:required {
    border: 2px solid blue;
}

input:valid {
    border: 2px solid green;
}